<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If the request is for an existing file or directory, serve it directly
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^schemas/1\.0/VRSync/?$ schemas.php [L,QSA]

  # Send all requests to index.php for dynamic meta tags
  RewriteRule ^ index.php [L]
</IfModule>

